.m-top {
    margin-top: 0;
}

.footer {
    background: #efefef;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}

.user-box img {
    max-width: 100%;
}

.avatar-kutu {
    padding: 0;
}

.panel-yorum {
    position:relative;
}
.panel-yorum>.panel-heading:after,.panel-yorum>.panel-heading:before{
    position:absolute;
    top:11px;left:-16px;
    right:100%;
    width:0;
    height:0;
    display:block;
    content:" ";
    border-color:transparent;
    border-style:solid solid outset;
    pointer-events:none;
}
.panel-yorum>.panel-heading:after{
    border-width:7px;
    border-right-color:#f7f7f7;
    margin-top:1px;
    margin-left:2px;
}
.panel-yorum>.panel-heading:before{
    border-right-color:#ddd;
    border-width:8px;
}